/* 
   =========================================
   AMHARIC / GE'EZ READING THEME (per-note)
   Activate via:
   ---
   cssclasses: amharic-note
   ---
   =========================================
 */

/* .metadata-container.amharic-note, */
/* .markdown-preview-view.amharic-note, */
/* .markdown-source-view.mod-cm6.amharic-note .cm-content, */
/* .markdown-source-view.mod-cm6.amharic-note .cm-scroller { */
/*   color: #373737; */
/*   background-color: #e6e6e6; */
/* } */

/* Reading view (preview) and Editor (Live Preview / source) */
.markdown-preview-view.amharic-note,
.markdown-source-view.mod-cm6.amharic-note .cm-content,
.markdown-source-view.mod-cm6.amharic-note .cm-scroller {
  /* font-family: "Noto Sans Ethiopic", "Noto Sans", sans-serif; */
  font-family: "Menbere", "Noto Sans Ethiopic", "Noto Sans", sans-serif;
  font-size: 18px;
  line-height: 1.9;
  letter-spacing: 0.01em;
  word-spacing: 0.07em;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-align: justify;
}

/* Headings in reading view */
.markdown-preview-view.amharic-note h1,
.markdown-preview-view.amharic-note h2,
.markdown-preview-view.amharic-note h3,
.markdown-preview-view.amharic-note h4,
.markdown-preview-view.amharic-note h5,
.markdown-preview-view.amharic-note h6 {
  font-family: "Menbere", "Noto Sans Ethiopic", "Noto Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: left !important;
}


.amharic-note .cm-header-1,
.amharic-note .cm-header-2,
.amharic-note .cm-header-3,
.amharic-note .cm-header-4,
.amharic-note .cm-header-5,
.amharic-note .cm-header-6 {
  font-family: "Menbere", "Noto Sans Ethiopic", "Noto Sans", sans-serif !important;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin-top: 0em;
  text-align: left !important;
}

.amharic-note .markdown-preview-view code,
.amharic-note .markdown-source-view.mod-cm6 .cm-inline-code {
  font-family: "Menbere", "Noto Sans Ethiopic", "Noto Sans", sans-serif !important;
  /* font-size: 0.9rem !important; */
}

/* Paragraph spacing (reading view) */
.markdown-preview-view.amharic-note p {
  font-family: "Menbere", "Noto Sans Ethiopic", "Noto Sans", sans-serif;
  margin-bottom: 1.3em;
}

/* Softer highlights */
.markdown-preview-view.amharic-note mark {
  background-color: rgba(255, 255, 255, 0.15);
}
