/* Align images based on alt text keywords: "center", "right", "left" */
img[alt*="center"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt*="right"] {
  float: right;
  clear: right;
  margin-left: 1rem;
}

img[alt*="left"] {
  float: left;
  clear: left;
  margin-right: 1rem;
}

/* Set a smaller font size and tighter line spacing 
 * for file and folder titles in the navigation pattern
 */
.nav-file-title-content,
.nav-folder-title-content {
  font-size: 13px;
  line-height: 1.2;
}

/* Set a general font size and line spacing for notes */
.markdown-preview-view,
.markdown-source-view.mod-cm6 .cm-scroller {
  font-family: "Noto Sans Ethiopic", "Noto Sans", sans-serif;
  line-height: 1.6em;
  letter-spacing: 0.04em;
  font-size: 17px;
  text-align: justify;
}


/* Set text alignment for code blocks */
.markdown-preview-view code,
.markdown-source-view.mod-cm6 .cm-scroller .cm-embed-block,
.markdown-source-view.mod-cm6 .cm-scroller .HyperMD-codeblock {
  text-align: left !important;
}

/* Set a font size for inline code */
.markdown-preview-view code,
.markdown-source-view.mod-cm6 .cm-inline-code {
  font-size: 0.85rem !important;
}

/* change title font in app header */
.view-header-title {
  font-family: "Faculty Glyphic", "Noto Sans" !important;
}

/* change h1 font globally */
body {
  --inline-title-font: var(--h1-font);
  --h1-font: "Faculty Glyphic";
}

/* change header font in editing view */
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
  font-family: "Faculty Glyphic", "Noto Sans" !important;
}

/* change header font in reading view */
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  font-family: "Faculty Glyphic", "Noto Sans" !important;
}
