/* Settings for alignning images */
img[alt*="center"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt*="right"] {
  float: right;
  clear: right;
  margin-left: 1rem;
}

img[alt*="left"] {
  float: left;
  clear: left;
  margin-right: 1rem;
}

/* Set a smaller font size and tighter line spacing 
 * for file and folder titles in the navigation pattern
 */
.nav-file-title-content,
.nav-folder-title-content {
  font-size: 13px;
  line-height: 1.2;
}

/* Set a general font size and line spacing for notes */
.markdown-preview-view,
.markdown-source-view.mod-cm6 .cm-scroller {
  font-family: "Noto Sans Ethiopic", "Noto Sans", sans-serif;
  line-height: 1.6em;
  letter-spacing: 0.04em;
  font-size: 18px;
}
