.view-header-title {
    font-family: "Faculty Glyphic", "Noto Sans" !important;
}

body {
    --inline-title-font: var(--h1-font);
    --h1-font: "Faculty Glyphic";
}

/* change header font in editing view */
.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
    font-family: "Faculty Glyphic", "Noto Sans" !important;
}

/* change header font in reading view */
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
    font-family: "Faculty Glyphic", "Noto Sans" !important;
}